.panel{
    width:100px;
    height:100px;
    display: inline-block;
}

.bottom-right{
   border-bottom-right-radius: 200px;
   background-color: blue;

}.bottom-left{
    border-bottom-left-radius: 200px;
    background-color: green;

}.top-left{
    border-top-left-radius: 200px;
    background-color: yellow;

}.top-right{
    border-top-right-radius: 200px;
    background-color: red;

}

