body{
    background-color: gray;
    text-align: center;
    margin-top: 45px;
}
.pad{
    width:200px;
    height:200px;
    display: inline-block;
    z-index: 1;
    margin: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity)";
    filter: alpha(opacity = 60);
    opacity: 0.6;
}

.shape1{
    border-top-left-radius: 200px;
    background-color: yellow;
}
.shape4{

   border-bottom-right-radius: 200px;
   background-color: blue;
}
.shape3{

    border-bottom-left-radius: 200px;
    background-color: green;
    clear: left;
}

.shape2{

    border-top-right-radius: 200px;
    background-color: red;
    clear: right;
}
.wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
}
.rear-circle{
    position: absolute;
    top: 185px;
    width: 465px;
    height: 448px;
    z-index: 0;
    background-color: #000;
    border-radius: 350px;
}
.circle{
    display: inline-block;
    position: absolute;
    top: 305px;
    left: 133px;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 100%;
}
.level, .score{
    color: red ;
    width: 50%;
    float: left;
    text-align: center;
}
.gameOver{
    color: red;
    text-align: right;
    width: 55%;
    font-size: 25px;
}
.startBtn{
    width: 30%;
    margin: 0 auto;
}
.start{
    width: 60%;
    height: 20px;
    text-align: center;
}
ul{

    list-style: none;
    margin: 0 0 20px 0;
    padding:0;
    text-align: center;
}
li{
    color: lightskyblue;
    display: inline-block;
    padding: 3px;
}
h1{
    font-style: italic;
    font-size: 34px;
    color: limegreen;
    text-align: -moz-center;
}