body{
    background-color: black;
    text-align: center;
    margin-top: 35px;
}
.panel{
    width:200px;
    height:200px;
    display: inline-block;
    z-index: 1;
    margin: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity)";
    filter: alpha(opacity = 60);
    opacity: 0.6;
}


.bottom-right{

   border-bottom-right-radius: 200px;
   background-color: blue;
}
.bottom-left{

    border-bottom-left-radius: 200px;
    background-color: green;
    clear: left;
}
.top-left{
    border-top-left-radius: 200px;
    background-color: yellow;
}
.top-right{

    border-top-right-radius: 200px;
    background-color: red;
    clear: right;
}
.wrapper {
    position: relative;
    width: 640px;
    margin: 0 auto;
}
.rear-circle{
    position: absolute;
    top: 170px;
    width: 640px;
    height: 640px;
    z-index: 0;
    background-color: #000;
    border-radius: 310px;
}
.circle{
    display: inline-block;
    position: absolute;
    top: 295px;
    left: 220px;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 100%;
}
.level, .score{
    width: 50%;
    float: left;
    text-align: center;
}
.startBtn{
    width: 30%;
    margin: 0 auto;
}
.start{
    width: 100%;
    height: 30px;
    text-align: center;
}
ul{
    list-style: none;
    margin: 0 0 20px 0;
    padding:0;
    text-align: center;
}
li{
    display: inline-block;
    padding: 3px;
}